<%= simple_form_for @signature_request, 
		as: :signature_request, 
		url: "/esign/signature_requests/#{@signature_request.id}?format=json", 
		wrapper: :horizontal_form,
  	wrapper_mappings: {
    	check_boxes: :horizontal_radio_and_checkboxes,
    	radio_buttons: :horizontal_radio_and_checkboxes,
    	file: :horizontal_file_input,
    	boolean: :horizontal_boolean
    },
   	html: { 
   		id: "signature_request_form", 
   		method: :post,
   		novalidate: false
   	} do |f| %>   	
	  <%#= hidden_field_tag :signature, nil, class: 'signature_pad_input' %>
	  <%= f.input_field :signee_latitude, as: :hidden, class: 'signature_pad_latitude' %>
	  <%= f.input_field :signee_longitude, as: :hidden, class: 'signature_pad_longitude' %>
	  <%= f.input_field :declaration_accepted, as: :hidden, class: 'signature_declaration_accepted' %>
	  <%= f.input_field :signee_comment, as: :hidden, class: 'signature_signee_comment' %>
	  <%= hidden_field_tag :page_html, nil %>
	  <div class="row">
		  <div class="col-xs-8">
			  <div class="fields">
				  	<%= f.label "signee_name", "Full Name", style:"font-weight: bold;" %>
				  	<%= f.input_field :signee_name, class: "form-control generate-designs", required: true, oninput: "draw_signature_and_initials()"%>
			  </div>
		  </div>
		  <div class="col-xs-4">
			  <div class="fields">
				  <%= label_tag "signature_request_signee_initial", "Initials", style:"font-weight: bold;" %>
				  <%= text_field_tag "signature_request_signee_initial", nil, class: "form-control generate-designs", required: true, oninput: "draw_signature_and_initials()"%>
			  </div>
		  </div>
	  </div>
		  <br/>
  	<!-- <div>
	  	<%#= f.label "Comment", style:"font-weight: bold;" %>
	  	<%#= f.input_field :signee_comment, as: :text, class: "form-control" %>
  	</div> -->	  	
  	<br/>
		<ul class="nav nav-tabs">
		  <li class="active toggle-menu" data-view="generate-signature"><a href="#generate-signature">Generated Style</a></li>
		  <li class="toggle-menu" data-view="draw-signature"><a href="#draw-signature">Draw</a></li>
		</ul>
		<br/>	
    <div class="text-muted" style="font-weight: bold;"><em>Preview</em></div><br/>
    <div id="generate-signature" class="signature_pad">
    	<div class="col-xs-8">
    		<canvas id="generated-signature-canvas" width="280" height="120"></canvas>
    	</div>
    	<div class="col-xs-4">
    		<canvas id="generated-initials-canvas" width="150" height="120"></canvas>
    	</div>    	
    </div>    
    <div id="draw-signature" class="signature_pad" style="display: none;">
      <canvas id="draw-signature-canvas"></canvas> 
	    <div class="signature_pad_footer text-center">
	     	<button type="button" class="btn btn-danger signature_pad_clear">Clear</button>
	      <%#= f.button :submit, 'ADOPT AND INITIAL', class: 'btn btn-success signature_pad_save'  %>
	    </div>           
    </div>
	    <br style="clear:both;">
	    <br/>    

<% end %>