<% if @success%>
	$('#content-page').html("<%= j(render partial: 'content_container' ) %>")
	bind_place_holder_caller();
	resize_and_drag();
<% else %>
  show_alert("large", "Oooops!", "<div style='color:red'><ul>An error occurred on server, signature could not be adopted</ul></div>",function(result){          
        });
	alert("")
<% end %>