  <% if @success %>
  	show_alert("large", "Success!", "<p>Signature request completed. Thank You.</p>",function(result){
  		location.href = "/"
    });
  <% else %>
  	show_alert("large", "Oooops!", "<div style='color:red'><ul><li><%=j(@signature_request.errors.full_messages.to_sentence)%></li></ul></div>",function(result){  
  		toggle_loader();        
    });
  <% end %>