<div class="main-container">
	<div class="headers">
		<div class="col-xs-8">
			<span class=""><h4><strong>Please Review & Act on these Documents</strong></h4></span>
		</div>
		<div class="col-xs-4">
			<span class="sign-fast-logo"><i class="text-info">sign</i><i class="sign-text">Fast</i><i class="sign-fast-registered">&reg;</i></span>
		</div>
		<br style="clear: both;" />
	</div>
  <div class="sign-declaration bg-dark">
		<div class="col-xs-8">
  			<div class="check">
  				<%= fa_icon "hand-o-right", class: "text-warning", style: "font-size: 2rem;"%> &nbsp; <%= check_box_tag :declaration_accepted, false, false, required: true, class: "" %> <span style="vertical-align: top;">I agree to the <a style="vertical-align: top;" href="<%= ersd_link  %>" target="_blank">Electronic Record and Signature Disclosure </a></span>
  			</div>
  		</div>
  		<div class="col-xs-4">
  			<div class="actions">
  				<!-- Esign.engine_url_helpers.accept_declaration_signature_request_path(@signature_request) -->
  			<%= link_to "CONTINUE", "#", disabled: true, id: "signing-continue", class: "btn btn-warning custom-btn" %>
  		</div>
  		</div>
  		<br style="clear: both;" />
  </div>
  <div class="navbar-info-bar bg-dark" style="display: none">
	<div class="info">
		<div class="col-sm-10 text-center">
			<span class="text-white"><h4>Please Review & Act on these Documents.</h4></span>
		</div>
		<div class="col-sm-2" style="font-size: small;">
			<div class="">
			<ul class="nav">
				<li class="dropdown other-actions">
     			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Other Actions <span class="caret"></span></a>
      			<ul class="dropdown-menu">
				      <li><a href="/esign/signature_requests/<%=@signature_request.id%>/download_copy" target="_blank"><i class="fa fa-download"></i> Download Copy</a></li>
				      <li><a href="#" id="decline-request" data-url="/esign/signature_requests/<%= @signature_request.id %>/decline_request?format=js"><i class="fa fa-times"></i> Decline Request</a></li>				     
				    </ul>
				  </li>
			</ul>
			</div>
		</div>
	</div>
  </div>
	<div class="content-container" id="content-page">
		<%= render partial: "content_container" %>	
	</div>
	<!-- <a href="#" class="btn btn-warning" id="adopt-sign-btn" ><b> Adopt & Sign</b></a> -->	
</div>
<div class="sign-declaration-finish bg-dark" style="display: none;">
	<div class="col-xs-8">
		<em>DONE! Click finish to complete e-signature process.</em>
		</div>
		<div class="col-xs-4">
			<div class="actions">
				<!-- Esign.engine_url_helpers.accept_declaration_signature_request_path(@signature_request) -->
			<%= link_to "FINISH", "#", id: "signing-finish", class: "btn btn-warning custom-btn", data: {disable_with: "Please wait...", url: "/esign/signature_requests/#{@signature_request.id}/finalise_signing?format=js"} %>
		</div>
		</div>
		<br style="clear: both;" />		
</div>

<div id="adopt-sign" style="display:none;">	
	<p>
		<h3>Adopt Your Initials & Signature</h3>
	</p>
	<p>
		<em>Confirm your name, initials and signature.</em>
	</p>
	<%= render partial: "adopt_initial_and_sign_form" %>
</div>
<span style="display: none;" id="esign-initials"></span>
<span style="display: none;" id="esign-signature"></span>
<span style="display: none;" id="placeholder-klass" data-token="<%=@signature_request.token.to_s[0..11].to_s.upcase%>..." data-klass="<%=@signature_request.signee_type.downcase%>-<%= @signature_request.signee_id%>"></span>
<!-- https://codepen.io/rafaelcastrocouto/pen/LFAes -->