<style type="text/css">
  	#outlook a { padding: 0; }  
	.ReadMsgBody { width: 100%; }
	.ExternalClass { width: 100%; }
	.ExternalClass * { line-height:100%; }
	.body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
	table, td { border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
	img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
	p { display: block; margin: 13px 0; }
	@media only screen and (max-width:480px) {    
		@-ms-viewport { width:320px; }    
		@viewport { width:320px; }
	}
	.pen-logo {
		font-size: 2.5rem;
	}

	.pen-write {
		font-size: 1.2rem;
		vertical-align: text-bottom;
		margin-left: -8px;
	}

	.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
	    color: #fff;
	    background-color: #204d74;
	    border-color: #122b40;
	}	
	.btn-primary {
	    color: #fff;
	    background-color: #337ab7;
	    border-color: #2e6da4;
	    padding: 1.5em;
	}

	.btn {
	    display: inline-block;
	    margin-bottom: 0;
	    font-weight: normal;
	    text-align: center;
	    vertical-align: middle;
	    touch-action: manipulation;
	    cursor: pointer;
	    background-image: none;
	    border: 1px solid transparent;
	    white-space: nowrap;
	    padding: 6px 12px;
	    font-size: 12px;
	    line-height: 1.42857143;
	    border-radius: 4px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}	
</style>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);    
</style>
<style type="text/css">  
	@media only screen and (min-width:480px) {    .mj-column-per-100 { width:100%!important; }  }
</style>
<div class="body" style="background: #DFDFDF;">
	<div class="mj-container" style="background-color:#DFDFDF;">
		<div style="margin:0px auto;max-width:600px;">
			<table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
				<tbody>
					<tr>
						<td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;">
							<div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
								<table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
									<tbody>
										<tr>
											<td style="word-wrap:break-word;font-size:0px;padding:0px 0px 0px 0px;" align="left">
												<table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px;" align="left" border="0">
													<tbody>
														<tr>
															<td style="width:72px;">
																<img src="https://topolio.s3-eu-west-1.amazonaws.com/uploads/5b062ca30b03f/1527131382.jpg">
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td style="word-wrap:break-word;font-size:0px;padding:15px 37px 15px 37px;" align="center">
												<div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:center;">
													<p></p>
													<p>
														<div>
															<span class="pen-logo">&#9998;<span class="pen-write">&#8368;</span>
															</span>
														</div>
														<br/>
														You have a document to review and sign.
													</p>
													<p></p>
													<br/>
													<p>
														<span style="font-size:16px;">
															<a class="btm btn-primary" style="text-decoration: none;" href="<%=Esign.host_url%>/esign/signature_requests/<%=@signature_request.token%>">REVIEW DOCUMENT
															</a>
														</span>
													</p>
												</div>
											</td>
										</tr>
										<tr>
											<td style="word-wrap:break-word;font-size:0px;padding:0px 20px 0px 20px;" align="left">
												<div style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:left;">
													<p>Please signFast the document above.</p>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>