<!DOCTYPE html>
<html>
  <head>
    <title>signFast - Signature Request</title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, 
			maximum-scale=1.0, user-scalable=no" />
<!-- 			<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css" /> -->
    <%= stylesheet_link_tag    'esign', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag    '//fonts.googleapis.com/css?family=Pacifico' %>
    <%= stylesheet_link_tag    '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/jquery-ui.css' %>
    <%= javascript_include_tag 'esign', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
		<% flash.each do |name, msg| %>
		  <% if msg.length > 1 %>
		    <% if msg.is_a?(String) %>
		      <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" style="position: absolute; top: 5em; right:0.5em; width: 90%; z-index:100;">
		        <button type="button" id="1111" class="close" data-dismiss="alert" aria-hidden="true">
		        	&times;
		        </button>
		        <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
		      </div>
		      <br/>
		    <% end %>
		  <% end %>
		<% end %>  	
    <%= yield %>
    <div class="loader" style="display: none;"></div>
	<footer style="background-color: #ddd">
	    <div class="container" style="font-size: 1rem !important;">	        
	        <div class="col-xs-3">
				<span style="font-size: 1.8rem !important;" class="sign-fast-logo"><i class="text-info">sign</i><i class="sign-text">Fast</i><i class="sign-fast-registered">&reg;</i></span>	        	
	        </div>
	        <div class="col-xs-9">
	            <p> <strong> &copy; Copyright 2018 <a href="http://signfast.co.uk.co.uk">SignFast Limited.</a> Company No. 03302438. All Rights Reserved. 
	Registered Office: 349 Royal College Street, London, NW1 9QS. Registered in England & Wales.</strong></p>
	            <p>
	              <a href="/privacy_policy" class="" target="_blank">
	                <i class="fa fa-lock"> Privacy Policy </i>
	              </a> &nbsp;&nbsp;|
	              &nbsp;&nbsp;<a href="/terms_and_conditions" class="" target="_blank">
	                <i class="fa fa-book"> Terms & Conditions</i>
	                </a>               
	            </p>
	        </div>
	    </div>
	</footer>     
  </body>
</html>