@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";

// body {
//     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-size: 14px;
//     line-height: 1.428571429;
//     color: #333333;
//     background-color: #fff;
//     width: 100% !important;
// }


.main-container {
	width: 100%;
}

.draggable-div{
	cursor: move; /* fallback: no `url()` support or images disabled */
	cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
	cursor:    -moz-grab; /* Firefox 1.5-26 */
	cursor:         grab; /* W3C standards syntax, should come least */
}

.content-container{
	position: relative;
	background: rgb(204,204,204);
	height: 100%;
	width: 100%;
	padding: 3em 0;
	page {
	  background: white;

	  display: block;
	  margin: 0 auto;
	  padding: 1cm;
	  // margin-bottom: 0.5cm;
	  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	}
	page[size="A4"] {  
	  width: 90%;
	  height: auto;
	}

	// page[size="A3"] {29.7cm; 
	//   width: 29.7cm;
	//   height: 42cm;
	// }
	// page[size="A3"][layout="portrait"] {
	//   width: 42cm;
	//   height: 29.7cm;  
	// }
	// page[size="A5"] {
	//   width: 14.8cm;
	//   height: 21cm;
	// }
	// page[size="A5"][layout="portrait"] {
	//   width: 21cm;
	//   height: 14.8cm;  
	// }
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

.headers {
	height: 4em;
	margin: 1.2em 1.2em
}

.sign-declaration {
}

.sr-placeholder {
    border-radius: 0px !important;
    padding: 4px 8px !important;
    font-size: xx-small !important;
}

.backdrop {
	position: absolute;
    background: #000;
  	height: 100%;  	
 	 width: 100%;
  	z-index: 1040;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	opacity: 0.5;
}


.custom-btn {
	border-radius: 0px !important;
	padding: 4px 8px !important;
}

.sign-declaration.bg-dark {
	color: white !important;
	background-color: #343a40!important;
	padding: 0.85em;
	div.check{
		// margin-left: 2em;
	}

	div.actions{
		margin-right: 2em;
	}	

	div.check a {		
		color: white !important;
		text-decoration: underline;
	}
}

.sign-declaration-finish.bg-dark {
	color: white !important;
	background-color: #343a40!important;
	div.check{
		// margin-left: 2em;
	}

	div.actions{
		margin-right: 2em;
	}	

	div.check a {		
		color: white !important;
		text-decoration: underline;
	}
}


.navbar-info-bar.bg-dark {
	color: white !important;
	background-color: #343a40!important;
	padding: 4.85rem;
	div.actions{
		margin-right: 2em;
	}
}

.sign-fast-registered {
	vertical-align: bottom;
	font-size: 1.2rem;
	font-weight: bold;
}

.sign-fast-logo {
	font-size: 2.3rem;;
}

.sign-text {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	font-weight: bold;
}



#generate-signature {
  width: 100%;
  height: 120px;
  border: thin #444;
  background: #d3d3d3;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

#draw-signature {
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

#draw-signature canvas {
  width: 100%;
  height: 100%;
  border: thin #444;
  background: #d3d3d3;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.signature_pad_footer{
  margin: 1em;
}

.loader {
	border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 110;
}


.loader.show {
  display: block;
  position: fixed;
  z-index: 100;
  background-color:#666;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  left: 50%;
  top: 50%;
  z-index: 101;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;    
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

