*{
  padding:0;
  font-family: Arial;
}
.no-print{
  display:none;
}

h1, h2, h3, li{
  margin-bottom: 0.2cm;
  text-align: justify;
}
h1{
  width: 220mm;
  text-align-last: justify;
}
h1:after {
  content: "";
  display: inline-block;
  width: 100%;
}

i:first-child{
  page-break-after: avoid;  
}

.center{
  text-align: center;
}
.level0{
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
  width:220mm;
}
.level1{
  padding-left: 10mm;
  text-align: justify;
  width:210mm;
}
.level2{
  padding-left: 10mm;
  text-align: justify;
  width:200mm;
}
.level3{
  padding-left: 10mm;
  text-align: justify;
  width:190mm;
}

.gap1{
  margin-left: 10mm;
}

ol.level1{
  list-style-type: decimal;
}
ol.level2{
  list-style-type: lower-alpha;
}
ol.level3{
  list-style-type: lower-roman;
}


table.ta-data{
  border-collapse: collapse;
}
table.ta-data tr td{
  vertical-align: top;
  padding: 2mm 2mm 2mm 0;
  /*background: #00ffff;*/
}
table.ta-data tr{
  height: 1.2em;
  margin-bottom: 5mm;
  /*background: #00ffff;*/
}

tr.odd td{
  background: #eee;
}
tr.even td{
  background: #fff;
}

