<h2>Signature</h2>
<iframe src="<%#=pdfviewer.full_path(file: path)%>" style="width:100%;height:35em;"></iframe>
<p>
<br />
    <strong><h2>Declaration</h2></strong><br /><br />
    Whilst every care has been taken to ensure the accuracy of this schedule, accuracy cannot be guaranteed by the preparer.<br />
    <br />
    The Landlord and the Tenants are reminded that it is their responsibility to check the accuracy of this schedule, and are advised to sign it in confirmation.<br />
    <br />
    The Inventory relates only to the furniture, furnishings and all the Landlord&#39;s equipment and contents in the property. &nbsp;It is no guarantee of, or report on, the adequacy of, or safety of any such equipment or contents, merely a record that such items exist in the property at the date of the Inventory and the superficial condition of same.<br />
    <br />
    The Inventory states where relevant furniture and furnishings (fire) (safety) regulations labels have been identified. &nbsp;Where not possible to identify the items of furniture and furnishings as complying to the relevant furniture and furnishings (fire) (safety) regulations, it is assumed that they do not comply, unless otherwise stated by the Landlord.<br />
    <br />
    This is to certify that we the undersigned, have carefully checked the foregoing inventory, and subject to the marginal notes, consider this to be a fair and correct schedule of condition of the contents therein.	
</p>
 <div class="text-center" style="text-align: center;"> 
	<%= simple_form_for @signature_request, url: "/esign/signature_requests/#{@signature_request.id}", html: { method: :put } do |f| %>  
	  <%= hidden_field_tag :signature, nil, class: 'signature_pad_input' %>
	  <%= f.input_field :signee_latitude, as: :hidden, class: 'signature_pad_latitude' %>
	  <%= f.input_field :signee_longitude, as: :hidden, class: 'signature_pad_longitude' %>

	  	<p>
	  	<span style="font-weight: bold;">Do you accept the declaration above?</span>
	  	<%=  f.input_field :declaration_accepted, as: :radio_buttons, collection: [[true, 'Yes'], [false, 'No']], label_method: :second, value_method: :first, item_wrapper_class:'inline', checked: true, required: true %>
	  	</p>
	  	<div>
		  	<%= f.label "Comment", style:"font-weight: bold;" %>
		  	<%= f.input_field :signee_comment, as: :text %>
	  	</div>
	    <div class="signature_pad">
	      <canvas></canvas>
	      <div class="text-muted" style="font-weight: bold;">Sign above</div>
	    </div>
	    <br style="clear:both;">
	    <div class="signature_pad_footer">     
	      <button type="button" class="btn btn-danger signature_pad_clear">Clear</button>
	      <%= f.button :submit, 'Sign', class: 'btn btn-success signature_pad_save'  %>
	    </div>
	<% end %>
 </div>